# Copy this file to .env and update the values below

# Application Settings
APP_NAME=Lavalust
APP_KEY=0dd723dd86f94ba964950a63b42ed28a53c88b0f9ead7652555b171f96e31bb9
APP_ENV=development

# Database Configuration
DB_DRIVER=
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=mydb
DB_CHARSET=
DB_PREFIX=
